.intro__box {
  margin-left: 148px;
  width: 690px;
}

@media (max-width: 1152px) {
  .intro__box {
    margin-left: 48px;
  }
}

@media (max-width: 968px) {
  .intro__box {
    margin-left: 24px;
    width: 720px;
    min-height: 429px;
  }
}

@media (max-width: 768px) {
  .intro__box {
    margin-left: 16px;
    width: 544px;
    min-height: 754px;
  }
}

@media (max-width: 560px) {
  .intro__box {
    margin-left: 16px;
    width: 288px;
    min-height: 754px;
  }
}