.intro {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 984px;
  width: 100%;
  margin: 0 auto;
}

@media (max-width: 1124px) {
  .intro{
    max-width: 928px;
  }
}

@media (max-width: 968px) {
  .intro{
    max-width: 720px;
  }
}
@media (max-width: 765px) {
  .intro{
    max-width: 580px;
  }
}

@media (max-width: 625px) {
  .intro{
    max-width: 388px;
  }
}
@media (max-width: 488px) {
  .intro{
    max-width: 288px;
  }
}